 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Acceptuary is an app for your iPhone to help you study for your actuarial exams.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                </div>
                <div class="col-lg-4">
                  <p>Acceptuary is not available on the App Store yet because it is still being tested. If you think Acceptuary would be helpful for your studies before it reaches the App Store, please email me (<a href="mailto:nick@pachulski.me">nick@pachulski.me</a>). I may be able to share a test version of the app with you in the meantime. Good luck on your exam!</p>
                </div>
            </div>
        </div>
    </section>
