 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <p>Find nearby food trucks in Boston on your iPhone.</p>
                    <br>
                    <p></p>
                    <a href="mailto:nick@pachulski.me" style="font-size:34pt">nick@pachulski.me</a>
                    <br><br>
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </section>
